* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:  'Oswald', sans-serif;
    background: #1e1f1e;
    color: #fff;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
}

.navbar a {
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    border-bottom: #4682B4 2px solid;

}

/* Header - At - Large */
.hero {
    background: url(../images/La_Paz.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h2 {
    font-size: 55px;
    color: #fff;
}

.projects img:hover {
    opacity: 0.7;
}

.projects a {
    color: greenyellow;
}

/* Callback form */
.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form input:focus {
    outline-color: #4682B4;
}

.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;
}

/* Post */
.post {
    padding: 50px 30px;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer i {
    color: #fff;
}

#selfie-container {
    max-width: 50%;
    margin: 0 auto;
    padding: 50px;
}

#selfie {
    box-shadow: 0 2px 5px #4682B4;
}

#about-container {
    max-width: 50%;
    margin: 0 auto;
    padding: 50px;
}

#about {
    box-shadow: 0 2px 5px #4682B4;
}