/* Text Colors */
.text-primary {
    color: #4682B4;
}

.text-secondary {
    color: #B22222;
}

/* Button Styling */
.btn {
    cursor: pointer;
    display: inline-block; /*investigate this*/
    color: #fff;
    background-color: #B22222;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
}

.btn-dark, .bg-dark {
    background: #333;
    color: #fff;
}

.btn-light, .bg-light {
    background: #f4f4f4;
    color: #000;
}

.btn:hover {
    opacity: 1;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

.btn-outline:hover {
    background: #B22222;
    border: 1px solid #fff;
}

/* flex-columns */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%; /*investigate*/
    flex: 1; /*investigate*/
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns .column .column-1 {
    max-width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.flex-columns .column .column-1 img {
    box-shadow: 0 2px 5px #4682B4 ;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* investigate */
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-column h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}

.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}
/* flex-grid */

.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: space-between;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

/* .column a {
    color: #fff;
} */

/* section header */
.section-header{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {}

.section-padding {
    padding: 20px 20px 40px;
}

.section-header a {
    color: blue;
}