/* Text Colors */
.text-primary {
    color: #4682B4;
}

.text-secondary {
    color: #B22222;
}

/* Button Styling */
.btn {
    cursor: pointer;
    display: inline-block; /*investigate this*/
    color: #fff;
    background-color: #B22222;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

.btn-outline:hover {
    background: #B22222;
    border: 1px solid #fff;
}

/* flex-columns */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%; /*investigate*/
    flex: 1; /*investigate*/
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* investigate */
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-column h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}